share/RM_REL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--XML schema generated from EBX5 DMA instance [reference=RM_REL] on Fri Jul 28 10:56:33 CDT 2017 by user [admin].-->
<xs:schema xmlns:osd="urn:ebx-schemas:common_1.0" xmlns:fmt="urn:ebx-schemas:format_1.0" xmlns:ebxbnd="urn:ebx-schemas:binding_1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ebxs="urn:ebx-schemas:session_1.0">
    <xs:import namespace="urn:ebx-schemas:common_1.0" schemaLocation="http://schema.orchestranetworks.com/common_1.0.xsd"/>
    <xs:import namespace="urn:ebx-schemas:session_1.0" schemaLocation="http://schema.orchestranetworks.com/session_1.0.xsd"/>
    <xs:element name="root" osd:access="--">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Sheet1" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="en-US">
                            <osd:label>RM Landing Relationship Table</osd:label>
                        </xs:documentation>
                        <xs:documentation xml:lang="fr-FR">
                            <osd:label>Sheet1</osd:label>
                        </xs:documentation>
                        <xs:appinfo>
                            <osd:table>
                                <primaryKeys>/ID </primaryKeys>
                            </osd:table>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="RMMSCSRL_FROM_CUST_NBR" type="xs:string" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>RMMSCSRL_FROM_CUST_NBR</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>RMMSCSRL_FROM_CUST_NBR</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="RMMSCSRL_FROM_CUST_KEY" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>RMMSCSRL_FROM_CUST_KEY</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>RMMSCSRL_FROM_CUST_KEY</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="RMMSCSRL_FROM_CUST_NBR_F" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>RMMSCSRL_FROM_CUST_NBR_F</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>RMMSCSRL_FROM_CUST_NBR_F</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="RMMSCSRL_TO_ENT_CD" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>RMMSCSRL_TO_ENT_CD</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>RMMSCSRL_TO_ENT_CD</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="RMMSCSRL_TO_APPL_CD" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>RMMSCSRL_TO_APPL_CD</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>RMMSCSRL_TO_APPL_CD</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="RMMSCSRL_PRI_SEC_OTH_CD" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>RMMSCSRL_PRI_SEC_OTH_CD</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>RMMSCSRL_PRI_SEC_OTH_CD</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="RMMSCSRL_FROM_REL_CD_F" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>RMMSCSRL_FROM_REL_CD_F</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>RMMSCSRL_FROM_REL_CD_F</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="RMMSCSRL_TO_REL_CD" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>RMMSCSRL_TO_REL_CD</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>RMMSCSRL_TO_REL_CD</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="RMMSCSRL_NAME_SEQ_NBR" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>RMMSCSRL_NAME_SEQ_NBR</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>RMMSCSRL_NAME_SEQ_NBR</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="RMMSCSRL_LST_MAINT_DT" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>RMMSCSRL_LST_MAINT_DT</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>RMMSCSRL_LST_MAINT_DT</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="RMMSCSRL_TO_ACCT_KEY_CTL1" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>RMMSCSRL_TO_ACCT_KEY_CTL1</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>RMMSCSRL_TO_ACCT_KEY_CTL1</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="RMMSCSRL_TO_CUST_NBR" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>RMMSCSRL_TO_CUST_NBR</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>RMMSCSRL_TO_CUST_NBR</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="RMMSCSRL_TO_ACCT_KEY_ACCT_12" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>RMMSCSRL_TO_ACCT_KEY_ACCT_12</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>RMMSCSRL_TO_ACCT_KEY_ACCT_12</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="RMMSCSRL_TO_ACCT_KEY" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>RMMSCSRL_TO_ACCT_KEY</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>RMMSCSRL_TO_ACCT_KEY</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="RMMSCSRL_FROM_REL_CD" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>RMMSCSRL_FROM_REL_CD</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>RMMSCSRL_FROM_REL_CD</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ID" type="xs:int" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo>
                                        <osd:autoIncrement/>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="RMMSCSRL_FROM_CUST_NBR_KEY" type="xs:string" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>RMMSCSRL_FROM_CUST_NBR_KEY</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>(copie)RMMSCSRL_FROM_CUST_NBR</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="RMMSCSRL_TO_CUST_NBR_KEY" type="xs:string" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>RMMSCSRL_TO_CUST_NBR_KEY</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>(copie)(copie)RMMSCSRL_FROM_CUST_NBR</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="RMMSCSRL_TO_ACCT_KEY_ACCT_KEY" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>RMMSCSRL_TO_ACCT_KEY</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>(copie)RMMSCSRL_TO_ACCT_KEY_ACCT_12</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="RELATIONSHIP_CONCAT" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>RELATIONSHIP_CONCAT</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:computationRule>
                                            <predicate>concat(./RMMSCSRL_FROM_REL_CD,./RMMSCSRL_TO_REL_CD)</predicate>
                                        </osd:computationRule>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
